* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
  color: #000;
}

.container {

width: 940px;
margin: 0 auto;
overflow: hidden;
background: rgba(246, 244, 147, 0.0);
}

.header {
  background-color: #ffcd34;
  overflow: hidden;

}
.header:after{
  content: "";
display: block;
right: 0;
left: 0;
height: 14px;
width: 100%;
background-image: linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 25px 14px;
}
.header__text, .header__img{
  vertical-align: middle;
}
.header__text{
  font-size: 24px;
}
.header__logo{
  padding-top: 22px;
  padding-bottom: 22px;
  width: 180px;
  float: left;
}
.header__nav{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 586px;
  float: left;
  text-align: right;
}
.header__li {
  display: inline-block;
  padding: 10px;
  text-align: left;
}

.header a{
  text-decoration: none;
  color: #000;
}
.header__btn{
  margin-top: 30px;
  float: right;
}
.header__btn-call {
  padding: 10px 20px 10px 20px;
  background-color: #ffe184;
  text-align: center;
}
.promo{
  background-image: url(../img/1390641675_ekskavator-gusenichnyy-hyundai-380.jpg);
  background-size: 100%;
  background-position: 50% 70%;
  height: 462px;
  text-align: center;
  background-repeat: no-repeat;
}


.promo__title {
    padding-top: 144px;
    margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 44px;
  letter-spacing: 2px;
  font-weight: 700;
}

.promo__text{

  text-align: center;
  color: #e1e1e1;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 37px;
  padding: 0 160px 0 160px;
}

.promo__btn-catalog{
  display: inline-block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  border: 2px solid #ffcd34;
  width: 220px;
  height: 48px;
  box-sizing: border-box;
  padding: 10px 40px 10px 10px ;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: relative;
}

.promo__btn-catalog:after{
  content: '';
  position: absolute;
  border-right: 4px solid;
  border-bottom: 4px solid;
  height: 10px;
  width: 10px;
  top: 15px;
  right: 20px;
  transform: rotate(315deg);
}
.consult{
  background-color: #202e3b;
}

.consult:before{
  content: "";
display: block;
right: 0;
left: 0;
height: 14px;
width: 100%;
background-image: linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 25px 14px;
}
.consult__title{
  margin-top: 40px;
font-size: 24px;
color: #ffcd34;
font-weight: 400;
}

.consult__form-item{
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 11px;
}
.consult__form-item:last-child{
  margin-right: 0;
}
.consult__form-item input{
  width: 220px;
  height: 46px;
  background-color: #202e3b;
  border: 1px solid #ffcd34;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 16px;
  color: #fff;
  text-align: left;
  font-weight: 100;
}
.consult__form-btn input{
  background-color: #ffcd34;
  color: #202e3b;
  font-weight: 700;
  font-size: 16px;
}


.advantages{
  background-color: #fff;
}


.advantages__item {
  margin: 40px 0 40px 0;
  font-size: 13px;
  width: 24%;
  margin-right: 1%;
  float: left;
  box-sizing: border-box;
  padding-left: 55px;
  background-size:auto 43px;
  background-repeat: no-repeat;
}

.advantages__item-tools{
  background-image: url(../img/tools.png);
}

.advantages__item-worker{
  background-image: url(../img/worker.png);
}
.advantages__item-border{
  background-image: url(../img/border.png);
}
.advantages__item-operator{
  background-image: url(../img/operator.png);
}


.technic{
  background-color: #f3f3f3;
  padding-top: 55px;
  padding-bottom: 55px;
}
.technic__menu{
  width: 30%;
  float: left;
}
.technic__subtitle{
  font-size: 26px;
  margin-bottom: 15px;
  position: relative;
}
.technic__nav{
  line-height: 38px;
}
.technic__nav a{
  color: #202e3b;
  font-size: 16px;
}

.technic__offers{
  width: 70%;
  float: left;
}
.technic__table {
  margin-top: 28px;
  width: 100%;
}
.technic__table-head{
  font-weight: 700;
}
.technic__table td{
  padding: 8px 20px 8px 20px;
  text-align: left;
  background-color: #f3f3f3;
}
.technic__table tr:nth-child(odd) td{
  background-color: #fff;
}
.technic__table tr:first-child td{
  background-color: #dfdfdf;
}



.about{
  padding-top: 50px;
  padding-bottom: 40px;
  position: relative;
  background-color: #202e3b;
}
.about:before{
  content: "";
  position: absolute;
display: block;
top: 0;
left: 0;
height: 14px;
width: 100%;
background-image: linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 25px 14px;
}
.about:after{
  content: "";
  position: absolute;
display: block;
bottom: 0;
left: 0;
height: 14px;
width: 100%;
background-image: linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 25px 14px;
}
.about__numbers{
  width: 30%;
  float: left;
}
.about__subtitle{
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}
.about__numbers-list li {
  font-size: 18px;
  color: #9e9e9e;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about__number{
  font-weight: 700;
  font-size: 38px;
  color: #f1b132;
  padding-right: 15px;
  vertical-align: middle;
}

.reviews{
  width: 70%;
  float: left;
}
.reviews__item{
  clear: both;
  padding-bottom: 20px;
  overflow: hidden;
}
.reviews__subtitle{
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
}
.reviews__text{
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  font-weight: normal;
}
.reviews__author{
  color: #fff;
  font-style: normal;
  color: #ffcc33;
  font-size: 16px;
  margin-top: 20px;
  padding-top: 30px;
}
.reviews__imgbox{
  float: left;
  border: 3px solid #f1b132;
  border-radius: 4px;
  width: 120px;
  height: 120px;
  margin-right: 5%;
  overflow: hidden;
}
.reviews__img{
  float: left;
  height: 120%;

}

.reviews__text{
  float: left;
  width: 75%;
  font-style: italic;
}

.map{
  background-image: url(../img/map.jpg);
  height: 500px;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.footer {
  background-color: #202e3b;
  overflow: hidden;
}

.footer__text, .footer__img{
  vertical-align: middle;
}
.footer__text{
  font-size: 24px;
  color: #ffcd34;
  font-weight: 100;
}
.footer__logo{
  padding-top: 22px;
  padding-bottom: 22px;
  width: 180px;
  float: left;
}
.footer__nav{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 586px;
  float: left;
  text-align: right;
}
.footer__li {
  display: inline-block;
  padding: 10px;
  text-align: left;
}
.footer a {
  text-decoration: none;
}
.footer__li a{
  color: #fff;
}
.footer__btn{
  margin-top: 30px;
  float: right;
}
.footer__btn-call {
  padding: 10px 20px 10px 20px;
  text-align: center;
  color: #ffcd34;
  text-decoration: none;
}



















.portfolio-menu{
  background-image: url(../img/portfolio.jpg);
  height: 106px;
}
.portfolio-menu__title{
  color: #ffcd34;
  font-size:24px;
  font-weight: 400;
  float: left;
  padding-top: 40px;
  padding-bottom: 25px;
}
.portfolio-menu__nav{
  padding-top: 46px;
  float: right;
}
.portfolio-menu__nav li {
  display: inline-block;
}
.portfolio-menu__nav a {
  padding-left: 36px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}



.item1{
  background-image: url(../img/house1.jpg);
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.portfolio-item {
  position: relative;
}
.portfolio-item:before{
content: "";
position: absolute;
display: block;
right: 0;
left: 0;
height: 11px;
width: 100%;
background-color: #000;
}


.item2{
  background-image: url(../img/house2.jpg);
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.item3{
  background-image: url(../img/house3.jpg);
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.portfolio-item__describtion{
  box-sizing: border-box;
  width: 323px;
  height: 248px;
  background-color: #fff;
  margin-top: 100px;
  padding: 30px 30px 50px 30px;
}
.portfolio-item__subtitle{
  font-size: 20px;
  font-weight: 700;
  color: #202e3b;
  margin-bottom: 6px;
}
.portfolio-item__text{
  font-size: 14px;
  font-weight: 400;
  color: #202e3b;

}
.portfolio-item__btn-more{
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 17px 10px 17px;
  text-decoration: none;
  background-color: #ffcd34;
  color: #1d333f;
  margin-top: 15px;
}
































.contacts{
  padding-top: 42px;
  background-color: #f3f3f3;
  padding-bottom: 54px;
}
.menu-contacts{
  background-image: url(../img/cont.png);
}
.menu-contacts__title{
  color: #fff;
  float: left;
  margin-right: 10px;
  font-weight: 400;
  font-size: 26px;
  color: #ffcd34;
  padding-top: 35px;
  margin-bottom: 38px;
}


.menu-contacts__text{
  color: #fff;
  float: left;
  font-size: 16px;
  padding-top: 43px;
  padding-left: 10px;
}
.menu-contacts__btn-ineedconsult{
  text-decoration: none;
  box-sizing: border-box;
  margin-top: 30px;
  font-size: 18px;
  float: right;
  color: #000;
  background-color: #ffcd34;
  padding: 10px 20px 10px 20px;
}
.contacts__map{
  width: 620px;
  height: 398px;
  float: left;
overflow: hidden;
}
.contacts__img{
height: 100%;
}
.contacts__items{
  padding-left: 20px;
  box-sizing: border-box;
  width: 320px;
  float: left;
}
.contacts__number{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px;
}
.contacts__number:before{
  content: "";
  position: absolute;
  background-image: url(../img/tel.png);
  background-size: 100%;
  background-repeat: no-repeat;
 height: 100%;
 width: 20px;
 left: 0;

}
.contacts__mail{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 28px;
  position: relative;
  padding-left: 30px;
}
.contacts__mail:before{
  content: "";
  position: absolute;
  background-image: url(../img/mail.png);
  background-size: 100%;
  background-repeat: no-repeat;
 height: 100%;
 width: 20px;
 left: 0;
 top: 5px;
}
.contacts__text{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
.contacts__form{
  box-sizing: border-box;
  padding-left: 20px;
  width: 320px;
  float: left;
}
.contacts__form-name, .contacts__form-phone  {
  float: left;
  clear: both;
  width: 300px;
  height: 40px;
  border: 1px solid #d5d5d5;
  margin-bottom: 10px;
  font-size: 14px;
  color: #b0b0b0;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contacts__form-description{
  float: left;
  clear: both;
  width: 300px;
  height: 96px;
  border: 1px solid #d5d5d5;
  margin-bottom: 10px;
  font-size: 14px;
  color: #b0b0b0;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
 .contacts__form-btn{
  width: 300px;
  height: 40px;
  background-color: #354b60;
  border: none;
  font-size: 16px;
  color: #fff ;
}
.contacts-reviews{
  background-color: #fff;
}
.contacts-reviews__title{
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 26px;
}
.contacts-reviews li{
  display: inline-block;
  width: 23%;
  margin-right: 1%;
  text-align: center;
}
.contacts-reviews__ava{
  width: 119px;
  height: 119px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.contacts-reviews__text{
  font-size: 14px;
  margin-top: 30px;
  color: #202e3b;
}
.contacts-reviews__autor{
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 14px;
  color: #202e3b;
  font-weight: 700;
}
.contacts-reviews__ava img{
  height: 120%;
}









.rent-technic{
  background-image: url(../img/catalogback.jpg);
  overflow: hidden;
}
.rent-technic__left{
  float: left;
  width: 700px;
}
.rent-technic__subtitle{
  margin-top: 47px;
  font-size: 26px;
  color: #ffcd34;
  font-weight: 400;
  clear: both;
  margin-bottom: 20px;
}
.rent-technic__text{
  font-size: 16px;
  color: #fff;
  margin-bottom: 47px;
}
.rent-technic__right{
width: 240px;
float: right;
}
.rent-technic__btn-order{
  margin-top: 47px;
  width: 240px;
  background-color: #ffcd34;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  color: #202e3b;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  box-sizing: border-box;
  margin-bottom: 15px;

}

.rent-technic__order-text{
color: #fff;
}

.icon-technic:before {
  content: '';
  display: inline-block;
  background-image: url(../img/truck_icon2.png);
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  position: relative;
  top: 8px;
}
.technic__pdf{
  width: 222px;
  height: 37px;
  padding: 8px 0 7px 45px;
  display: inline-block;
  background-color: #354b60;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
}
.technic__pdf:before{
  content: '';
  background-image: url(../img/PDF.png);
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 15px;
  top: 10px;
}
.catalog__item{
  width: 70%;
  float: right;
}
.catalog__box{
  display: inline-block;
  width: 300px;
  height: 400px;
  background-color: #fff;
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.catalog__box:nth-child(odd){
  margin-right: 0;
}

.catalog__title{
  font-size: 21px;
  font-weight: bold;
  padding-right: 45px;
}
.catalog__img{
  margin-top: 30px;
  height: 144px;
  overflow: hidden;
  text-align: center;
}
.catalog__box img{
height: 100%;
}
.catalog-price{
font-size: 18px;
font-weight: 700;
margin-bottom: 20px;
margin-top: 30px;
}
.catalog-price span{
font-size: 21px;
font-weight: 700;
}

.catalog__btn-rent{
  width: 50%;
  height: 34px;
  display: inline-block;
  background-color: #f3c331;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 5px 0 5px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.catalog__btn-more{
  width: 50%;
  height: 34px;
  display: inline-block;
  background-color: #354b60;
  color: #fff;
  text-decoration: none;
  float: left;
  text-align: center;
  padding: 5px 0 5px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.catalog-pages{
  padding-top: 20px;
  width: 67%;
  float: right;
  text-align: center;
}
.catalog-pages li{
  display: inline-block;
  padding: 6px;
}
.catalog-pages a{
  text-decoration: none;
  color: #354b60;
  padding: 2px 5px 2px 5px;
}

.catalog-pages a:active{
  border-radius: 4px;
  background-color: #354b60;
  color: #fff;
}


.special-offers{
  background-image: url(../img/catalbg.jpg);
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: 50% 90%;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 40px;
}
.special-offers__head{
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}
.special-offers__item {
  display: inline-block;
  width: 300px;
  height: 400px;
  background-color: #fff;
  float: right;
  margin-bottom: 20px;
  padding: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.special-offers__item:nth-child(odd){
  margin-right: 20px;
  margin-left: 20px;
}

.special-offers__old-price{
  font-size: 27px;
  font-weight: 700;
  display: inline-block;
  color: #d12222;
  text-decoration: line-through;
  padding-right: 15px;
}

.tag-new:before{
  content: 'new';
  position: absolute;
  display: inline-block;
  width: 100px;
  color: #fff;
  font-size: 19px;
  text-align: center;
  padding: 5px 5px 5px 5px;
  top: 5px;
  right: -30px;
  background-color: #00c22e;
  -webkit-transform: rotate(45geg);
  -ms-transform: rotate(45geg);
  transform: rotate(45deg);
}
.tag-sale:before{
  content: 'sale';
  position: absolute;
  display: inline-block;
  width: 100px;
  color: #fff;
  font-size: 19px;
  text-align: center;
  padding: 5px 5px 5px 5px;
  top: 5px;
  right: -30px;
  background-color: #d12222;
  -webkit-transform: rotate(45geg);
  -ms-transform: rotate(45geg);
  transform: rotate(45deg);
}
